@import url("https://fonts.googleapis.com/css?family=Rosarivo:400,400i");

@import url('https://rsms.me/inter/inter.css');

html
/* move scrollbar out of page*/
 {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  font-family: "Rosarivo", serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 21px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

a {
  font-family: "inter", Helvetica, sans-serif;
  color: black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

h1 {
  font-family: "inter", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
}

h2 {
  font-family: "inter", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
  line-height: 1;
}

h3 {
  font-family: "inter", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 26px;
  line-height: 1;
}

h4 {
  font-family: "inter", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.5;
  color: #8b8b8b;
  font-weight: 400;
  text-transform: uppercase;

}

.background {
  position: absolute;
  width: 100%;
  max-width: 4000px;
  margin: -200px auto;
  filter: blur(30px);
  transform: translateZ(0); /*for older browsers*/
  will-change: transform;
}


.background-svg {
  position: relative;
  height: 100%;

  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.frontground-index {
  z-index: 3;
  width: 100%;
  position: absolute;
  pointer-events: none;
  top: 0;
}

/*Projects*/

.project__article__wrapper {
  padding: 60px 7.5vw;
  max-width: 784px;
}

.project__article__page {
  display: block;
  width: 85vw;
  max-width: 1134px;
  margin: 0 auto 60px;
  position: relative;
  background-color: white;
  box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.05);
}

.project__article__p {
  max-width: 900px;
}

.project__article__p--small {
  font-size: 16px;
  line-height: 200%;
}

/*images*/

.image-s {
  max-width: 60vw;
  max-width: 900px;
  margin: 0 auto 60px auto;
  
}

.image-m {
  max-width: 75vw;
  max-width: 1140px;
  margin: 0 auto 60px auto;
}

.image-l {
  width: 90vw;
  max-width: 1366px;
  margin: 0 auto 60px auto;
}

/*homepage*/

.homepage__hero-wrapper {
  height: 70vh;
  max-height: 900px;
  margin-top: 5vw;
  vertical-align: middle;
  position: relative;
}

.homepage__hero-group {
  display: grid;
  width: 85%;
  max-width: 672px;
  max-height: 480px;
  margin: auto;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-template-rows: auto 20fr auto;
  row-gap: 1.5vh;
}

.homepage__hero__h1 {
  font-size: 30px;
  line-height: 1.3;
  margin: 0 0;
  grid-row: 1/2;
}

.homepage__hero__p {
  max-width: 492px;
  margin: auto;

  grid-row: 2/3;
}

.homepage__hero__h2 {
  max-width: 400px;
  line-height: 1.3;
  margin-left: auto;
  margin-top: 0;
  text-align: right;
  grid-row: 3/4;
}

.arrow-down {
  position: relative;
  max-width: 30px;
  margin: 5vh auto;
}

.homepage__page {
  z-index: 2;
  overflow: hidden;
  background-color: white;
  width: 90%;
  max-width: 1134px;
  margin: 0 auto 60px auto;
  position: relative;
  padding: 60px 0 60px 0;
  box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.05);
}

.about__text {
  width: 80%;
  margin: 20px auto 60px auto;
  text-align: center;
}

.about__avatar {
  display: block;
  margin: 0 auto 60px;
  width: 30vw;
  max-width: 300px;
  min-width: 200px;
  height: 30vw;
  max-height: 300px;
  min-height: 200px;
  border-radius: 50%;
}

.download-cv {
  text-align: center;
  width: 200px;
  padding: 20px;
  margin: auto;
  display: block;
}

.download-cv:hover {
  box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.05);
  outline: 1px solid black;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-cv:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
  outline: 2px solid black;
  background-color: rgb(250, 250, 250);
}

.download-cv__text {
  display: inline-block;
  width: 130px;
  margin: 0 auto 10px auto;
  text-decoration: none;
  font-weight: bold;
}

.download-cv:hover .download-cv__text {
  text-decoration: underline;
}

.download-cv__icon {
  display: block;
  margin: 0 auto 5px;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-cv:hover .download-cv__icon {
  margin: 5px auto 0;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

/*flair*/

.flair__grid {
  display: grid;
  width: 90vw;
  max-width: 1366px;
  position: relative;
  margin: 0 auto 60px auto;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.flair__grid__image {
  width: 100%;
}

/*gimble*/

.gimble__quote__div {
  max-width: 60vw;
  margin: 0 auto 60px auto;
  text-align: center;
}

.gimble__quote {
  font-family: "Rosarivo", serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 26px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #17c792;
}

.gimble__caption {
  font-family: "Rosarivo", serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  color: #8b8b8b;
}

/*comms*/

.harika__grid {
  display: grid;
  width: 90vw;
  max-width: 1134px;
  position: relative;
  margin: 120px auto 60px auto;
  grid-template-columns: 6fr 3fr;
  grid-gap: 1rem;
  grid-template-areas: 
    'image1 .'
    'image1 image2'
    'image1 image3';
}

.harika__grid__image-1 {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  grid-area: image1;
}

.harika__grid__image-2 {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  grid-area: image2;
}

.harika__grid__image-3 {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  grid-area: image3;
}

.saporita__grid {
  display: grid;
  width: 90vw;
  max-width: 1134px;
  position: relative;
  margin: 120px auto 60px auto;
  grid-template-columns: 1fr 0.5fr 1fr 0.5fr;
  grid-gap: 1rem;
  grid-template-areas: 
  'image1 image2 image2 image2'
  'image1 . image3 .';
}


.saporita__grid__image-1 {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  grid-area: image1;
}

.saporita__grid__image-2 {
  width: 100%;
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  grid-area: image2;
}

.saporita__grid__image-3 {
  width: 100%;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  grid-area: image3;
}

.sacrem__grid {
  display: grid;
  width: 90vw;
  max-width: 1134px;
  position: relative;
  margin: 120px auto 60px auto;
  grid-template-columns: 4fr 3fr;
  grid-gap: 1rem;
  grid-template-areas: 
  '. image2'
  'image1 image2'
  'image1 image2';
}

.sacrem__grid__image-1 {
  width: 100%;
  grid-row: 2 / 4;
  grid-area: image1;
}

.sacrem__grid__image-2 {
  width: 100%;
  grid-row: 1 / 4;
  grid-area: image2;
}

.sintesi__grid {
  display: grid;
  width: 90vw;
  max-width: 1134px;
  position: relative;
  margin: 120px auto 60px auto;
  grid-template-columns: 6fr 3fr;
  grid-gap: 1rem;
  grid-template-areas: 
  'image1 .'
  'image1 image2'
  'image1 image2';
}

.sintesi__grid__image-1 {
  width: 100%;
  grid-row: 1/ 4;
  grid-area: image1;
}

.sintesi__grid__image-2 {
  width: 100%;
  grid-row: 2 / 4;
  grid-area: image2;
}

@media only screen and (min-width: 501px) {
  .show-responsive {
    display: none;
  }
}

/*responsive*/

@media only screen and (max-width: 500px) {
  body {
    line-height: 1.8;
    font-size: calc(14px + 8 * ((100vw - 250px) / 250));
  }

  h1 {
    font-size: calc(28px + 8 * ((100vw - 250px) / 250));
    line-height: 1.2;
  }

  h2 {
    font-size: calc(24px + 8 * ((100vw - 250px) / 250));
    line-height: 1.4;
  }

  h3 {
    font-size: calc(20px + 4 * ((100vw - 250px) / 250));

    line-height: 1.4;
  }

  h4 {
    font-size: calc(12px + 2 * ((100vw - 250px) / 250));

    line-height: 1.4;
  }

  .homepage__hero__h2 {

    text-align: left;
    margin-left:0;}

  .homepage__page {
    width: 95%;
  }
  .project__article__page {
    width: 90vw;
  }

  .project__article__wrapper{
    padding:40px 7.5vw;
    
  }

  .gimble__quote {
    font-size: calc(20px + 4 * ((100vw - 250px) / 250));
    line-height: 1.8;
  }

  .gimble__quote__div {
    max-width: 80vw;
    margin: 80px auto;
  }

  .hide-responsive {
    display: none;
  }


  .harika__grid{  
  margin: 0 auto 20px auto;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  'image1'
  'image3'
  'image2'
  ;
  }


.saporita__grid{  
  margin: 0 auto 20px auto;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
  'image2'
  'image1'
  'image3'
  ;
}


.sintesi__grid{  
  margin: 0 auto 20px auto;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: 
  'image1'
  'image2'
  ;
}
  
  .saporita__grid__image-3{
    display: none;
  }


  .sacrem__grid{  
    margin: 0 auto 20px auto;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
    'image1'
    'image2'
    ;
  }

}

