@font-face {
    font-family: Helvetica CE; 
    src: url('/fonts/Helvetica CE Regular.ttf') format('ttf');
    src: url('/fonts/Helvetica CE Bold.ttf') format('ttf');
    src: url('/fonts/helvetica_ce_regular.woff') format('ttf');
    src: url('/fonts/helvetica_ce_regular.woff2') format('ttf');
    src: url('/fonts/helvetica_ce_bold.woff') format('ttf');
    src: url('/fonts/helvetica_ce_bold.woff2') format('ttf');
}

@import url('https://fonts.googleapis.com/css?family=Rosarivo:400,400i');

body {
    font-family: 'Rosarivo', serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 22px;
    line-height: 1.6;
    margin:0;
    padding:0;
}

a {
    font-family: 'Helvetica CE', Helvetica, sans-serif;
    font-weight:bold;
    color: black;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}

.inlink{
    font-weight: 600;
    text-decoration: underline;
}

h1 {
    font-family: 'Helvetica CE', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
}

h2 {
    font-family: 'Helvetica CE', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
    line-height: 1;
}

h3 {
    font-family: 'Helvetica CE', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 26px;
    line-height: 1;
}

h4 {
    font-family: 'Helvetica CE', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 1;
    color: #8B8B8B;
    font-weight: 400;
}

/*Projects*/

.project__hero__img {
    display:block;
    object-fit: cover;
    max-width:1366px;
    margin:3vw auto 0 auto;
    width: 90vw;
    height: 95vh;
}

.project__article__wrapper{
    padding:60px 7.5vw;
    max-width: 784px;

}

.project__article__page{
    display:block;
    width:85vw;
    max-width: 1134px;
    margin:0 auto 60px;
    position:relative;
    background-color:white;
    box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.05);
}

.project__article__p{
    font-size: 20px;
    line-height: 180%;
}




/*images*/

.image-s{
    max-width:60vw;
    margin: 0 auto 60px auto;
}

.image-m{
    max-width:75vw;
    margin: 0 auto 60px auto;
}

.image-l{
    width:90vw;
    max-width:1366px;
    margin: 0 auto 60px auto;
}


/*flair*/


.flair__grid{
    display:grid;
    width:90vw;
    max-width:1366px;
    position: relative;
    margin: 0 auto 60px auto;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
}

.flair__grid__image{
    width: 100%;
 }
