.homepage__hero-wrapper {
    height:70vh;
    margin-top:5vw;    
    vertical-align: middle;
    position:relative;
}

.homepage__hero__group {
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin:0;
    width: 85%;
    max-width: 672px;
    position:absolute;
}



.homepage__hero__h1 {
    font-size: 30px;
    line-height: 1;
    margin-left: 0;
    margin-top: 0;
}

.homepage__hero__p{
    padding-top:30px;
    padding-bottom:30px;
    max-width:492px;
    margin:auto;
}

.homepage__hero__h2{
    max-width:400px;
    margin-left:auto;
    text-align:right;
}



.arrow-down{
    position:relative;
    max-width:30px;
    margin: 5vh auto;
}



.homepage__page{
    width:90%;
    max-width: 1134px;
    margin:0 auto 60px auto;
    position:relative;
    padding:60px 0 60px 0;
    box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.05);
    text-align:center;
}

.bio {
    width:80%;
    margin:20px auto 60px auto;
    text-align:center;
}

.avatar{
    display:block;
    margin:auto;
    width: 30vw;
    max-width:300px;
    height:30vw;
    max-width:300px;
    max-height:300px;
    border-radius:50%;
}

.downloadicon{
    display:block;
    margin:auto;    
}

.downloadtext{
    display:inline-block;
    width: 130px;
    margin:60px auto 10px auto;
    text-decoration:underline;
}