@font-face {
    font-family: Helvetica CE; 
    src: url('/fonts/Helvetica CE Regular.ttf') format('ttf');
    src: url('/fonts/Helvetica CE Bold.ttf') format('ttf');
    src: url('/fonts/helvetica_ce_regular.woff') format('ttf');
    src: url('/fonts/helvetica_ce_regular.woff2') format('ttf');
    src: url('/fonts/helvetica_ce_bold.woff') format('ttf');
    src: url('/fonts/helvetica_ce_bold.woff2') format('ttf');
}

@import url('https://fonts.googleapis.com/css?family=Rosarivo:400,400i');


body {
    font-family: 'Rosarivo', serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 22px;
    line-height: 1.2;
    margin:0;
    padding:0;
}

a {
    font-family: 'Helvetica CE', Helvetica, sans-serif;
    font-weight:bold;
    color: black;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-decoration: underline;
}


.inlink{
    font-weight: 600;
    text-decoration: underline;
  }

h1 {
    font-family: 'Helvetica CE', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
}

h2 {
    font-family: 'Helvetica CE', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
    line-height: 1;

}

h3 {
    font-family: 'Helvetica CE', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 26px;
    line-height: 1;

}

h4 {
    font-family: 'Helvetica CE', Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 1;
    color: #8B8B8B;
}




.homepage__hero {
    padding:0;
    height:90vh;    
    vertical-align: middle;
    position:relative;
}

.homepage__hero__group {
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin:0;
    width: 85%;
    max-width: 672px;
    position:absolute;
}



.homepage__hero__h1 {
    font-size: 30px;
    line-height: 1;
    margin-left: 0;
    margin-top: 0;
}

.homepage__hero__p{
    padding-top:30px;
    padding-bottom:30px;
    max-width:492px;
    margin:auto;
}

.homepage__hero__h2{
    max-width:400px;
    margin-left:auto;
    text-align:right;
}



.arrow-down{
    left:50%;
    padding-top: 50px;
    position:absolute;
}

.page{
    width:90%;
    max-width: 1134px;
    margin:0 auto 100px auto;
    position:relative;
    padding:60px 0 60px 0;
    box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.05);
    text-align:center;
}

.bio {
    width:80%;
    margin:20px auto 60px auto;
    text-align:center;
}

.avatar{
    display:block;
    margin:auto;
    width: 30vw;
    max-width:300px;
    height:30vw;
    max-width:300px;
    max-height:300px;
    border-radius:50%;
    border: 1px solid;
}

.downloadicon{
    display:block;
    margin:auto;    
}

.downloadtext{
    display:inline-block;
    width: 130px;
    margin:60px auto 20px auto;
    text-decoration:underline;
}