@keyframes play9 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -31653px 0px;
  }
}
.shapeshifter {
  animation-duration: 300ms;
  animation-timing-function: steps(9);
  width: 3517px;
  height: 6661px;
  background-repeat: no-repeat;
}
.shapeshifter.play {
  animation-name: play9;
}
