.button-back{
    margin:60px 0 60px;
}

.button-back:hover{
    text-decoration: underline;
}

.arrow_left {
    float:left;
    width:25px;
    height:25px;
    transform: rotate(90deg);
    margin:0 10px 0 10px;
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);

}

.button-back:hover .arrow_left{
    margin: 0 20px 0 0;
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}