.footer {
    display:grid;
    width:90%;
    max-width: 1134px;
    text-align: right;
    margin:0 auto;
    grid-template-columns: auto 120px 120px;
    grid-template-rows: 60px 60px;

}

.footer__email{
    grid-column:2/3;
}

.footer__linkedin{
    grid-column:3/4;
}

.footer__love-text{
    grid-column:1/4;
    grid-row:2/3;
}