.project__intro__wrapper {
    width:90vw;
    position:relative;
    margin-top:10vw;
}

.project__hero__img {
    object-fit: cover;
}

.project__description-wrapper{
    width:85vw;
    padding:10vw;

}

.project__hero__logo{
    width:150px;
    height:auto;
    margin-left:auto;
    margin-bottom:auto;
}

