.project__hero__img {
    display:block;
    object-fit: cover;
    max-width:1366px;
    margin:3rem auto 0 auto;
    width: 90vw;
    height: 90vh;
}



.project__description-page{
    display:block;
    width:85vw;
    max-width:1134px;
    position: relative;
    box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.05);
    background-color:white;
    margin:-15rem auto  auto;
 
}

.project__description__wrapper{
    display:grid;
    padding:3rem 3rem 3rem 3rem;
    grid-template-columns:70% 30%;
    grid-template-rows:4;
    grid-template-areas:"h1 h1" "h2 h2" "text text" "details logo" 
    
}

.project__description__intro-para{
    grid-area: text;
}

.project__description__h1{
    grid-area: h1;
}

.project__description__h2{
    grid-area: h2;
}

.project__description__details{
    grid-area: details;
}

.project__hero__logo{
    grid-area: logo;
    width:150px;
    height:auto;
    justify-self:end;
    align-self:end
}

