.project__description-page{
    display:block;
    width:85vw;
    max-width:1134px;
    position: relative;
    box-shadow: 0px 10px 70px rgba(0, 0, 0, 0.05);
    background-color:white;
    margin:-40vh auto 60px;
 
}

.project__description__wrapper{
    display:grid;
    padding:3vw 10%;
    grid-template-columns:70% 30%;
    grid-template-rows:3;
    grid-template-areas:"h1 h1" "text text" "details logo" 
    
}

.project__description__intro-para{
    grid-area: text;
    margin-top:0;
}

.project__description__h1{
    grid-area: h1;
    margin: 5vh 0 0 0;
}

.project__description__details{
    grid-area: details;
}

.project__hero__logo{
    grid-area: logo;
    width:150px;
    height:auto;
    justify-self:end;
    align-self:end
}

.project__description__year-location,
.project__description__category,
.project__description__team{
    color:black;
    margin:-1rem 0 1.5rem;
}